body {
    text-align: center;
}

#body {
    background-color: beige;
}

#BigSavingsTravel,
#DescriptionDiv {
    text-align: center;
}

.Text2 {
    font-size: 1.5rem;

}

#Savings {
    color: rgb(209, 26, 56);
    font-size: 5rem;
    font-family: 'Ibarra Real Nova', serif;
}

#Description {
    font-family: 'Righteous', cursive;
    font-size: 2rem;
}

.Gifs {
    height: 22rem;
    width: 38rem;
    padding: 1.25rem;
}

.RandomPic {
    width: 40rem;
    height: 20rem;
}


#Contact {
    font-size: 1.25rem;
    font-weight: bold;
}

.ContactMe {
    font-size: 2rem;
}

.AdvertismentPics,
#PotentialSalaryDiv {
    height: 30rem;
    width: 30rem;
    padding: 1.25rem;
}

.AdvertismentPicSolo {
    height: 30rem;
    width: 30rem;
    padding: 1.25rem;
}

#GeneralSalary {
    font-size: 3.75rem;
    margin-bottom: .2rem;
}

.Size {
    height: 3rem;
}

.Link {
    text-decoration: underline;
    color: purple;
}

.Link:hover {
    color: rgb(247, 39, 39);
    font-size: 2.1rem;
}

.Video {
    height: 24rem;
    width: 32rem;
    padding: 1.25rem;
    border: 0;

}

@media only screen and (max-width: 525px) {
    .Video {
        height: 7.5rem;
        width: 9.8rem;
        border: 0;
        padding: .01rem;
    }



    #Videoid {
        margin-bottom: 4rem;
        display: flex;
        justify-content: space-evenly;
    }

    #SalaryDiv {
        margin-bottom: 4rem;
    }

    .Opp {
        font-size: 2rem;
        font-weight: bold;
        width: 30rem;
    }

    .Oppurtunity {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .Membership {
        font-size: 2rem;
    }

    .Lists {
        font-size: 1.2rem;
    }



    @media only screen and (max-width: 525px) {
        .Lists {
            font-size: .75rem;
        }



        .Text1 {
            font-size: 1.75rem;
            text-align: left;
            margin: 0;
            padding: 0;
        }


        @media only screen and (max-width: 600px) {
            .Gifs {
                height: 11rem;
                width: 19rem;
                padding: .75rem;
            }

            .RandomPic {
                height: 10rem;
                width: 15rem;
            }

            .AdvertismentPics,
            .AdvertismentPicSolo,
            #PotentialSalaryDiv {
                height: 22rem;
                width: 22.5rem;
                padding: .75rem;
            }
        }
    }
}

.ItemThing {
    color: red;
    font-size: 1.1rem;
}